.drop_down{
   margin-left: 86%;
   list-style-type: none 
}
.drop_down_img{
   height: 3rem;
   margin-left: 86%;
   cursor: pointer;
}

.btn_{
   position: relative;
   top: 21%;
   left: 67%;
   cursor: pointer;
}

li{
   cursor: pointer;
}